.toggler{
    display: flex;
    height: 25px;
    width: 30px;
    padding: 0;
    margin-bottom: -2px;
    margin-right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: space-around;
    flex-direction: column;
}
.line{
    background: white;
    height: 2px;
    width: 30px;
} 
