.lang{
    border-top: #FF5A5A 1px solid;
    border-bottom: #FF5A5A 1px solid;
    background: linear-gradient(90deg,#FF5A5A 20%, white 0%);
    margin-top: -1vh;
}
.lang img{
    width: 10vw;
}
.lang2
{
    display: inline-block;
}
.clm
{
    display: flex;
    flex-direction: row;
    
    
}
.lang h1{
    font-size: 4vw;
    text-align: center;
}
.lang span{
    color:#FF5A5A;
    
}

.card1
{
    border: 0px black solid;
    
    height: 10vw;
    width: 10vw;
    
    margin-left: 22vw;
    margin-bottom: 2vw;
    font-size: 1vw;
    
}
.card
{
    border: 0px black solid;
    
    height: 10vw;
    width: 10vw;
    margin-left: 4vw;
    margin-bottom: 2vw;
    font-size: 1vw;
    background: transparent;
}
.spacer
{
    flex: 1;
}
