
.hl{
    width: 100%;
    background: linear-gradient(90deg, #FF5A5A 55%, white 0%);
    display: flex;
    justify-content: center;
    transition: width 2s;
}
.h1:hover{
    width: 70%;
}

.hl p{
    margin-top: 10%;
    color:black;
    font-size: 10vw;
    font-family:'Lato', sans-serif;
    font-weight: 900;
    transition-delay: 7s;
}
.hl span{
    color:#FF5A5A;
    transition-delay: 2s;
}
 
