@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Pacifico|Philosopher|Spicy+Rice|Srisakdi:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren|Yeon+Sung&display=swap');

/* font-family: 'Srisakdi', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Spicy Rice', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Philosopher', sans-serif; 
font-family: 'Yeon Sung', cursive;
font-family: 'McLaren', cursive;*/
